Series的常用方法（max、min、mean、sum）——DataFrame常用方法
由于其是二维数据——axis=0 or 1——沿着列或横（默认沿着轴0）

apply、applymap、describe

In [2]:
import pandas as pd

In [3]:
name = pd.Series(["小陈","小李","小王","小张","小赵","小周"],index=["001","002","003","004","005","006"])
s1 = pd.Series([85,91,86,79,96,81],index=["001","002","003","004","005","006"])
s2 = pd.Series([95,92,81,89,91,89],index=["001","002","003","004","005","006"])
s3 = pd.Series([92,94,89,95,91,92],index=["001","002","003","004","005","006"])
stus=pd.DataFrame({"考试1":s1,"考试2":s2,"考试3":s3})
stus

     考试1  考试2  考试3
001   85   95   92
002   91   92   94
003   86   81   89
004   79   89   95
005   96   91   91
006   81   89   92

In [4]:
stus.mean()

考试1    86.333333
考试2    89.500000
考试3    92.166667
dtype: float64

In [5]:
stus.mean(axis=1)

001    90.666667
002    92.333333
003    85.333333
004    87.666667
005    92.666667
006    87.333333
dtype: float64

apply—调用函数运用

In [6]:
def trim_mean(data):
    data_len = len(data)
    data_sum = data.sum()
    max_num = data.max()
    min_num = data.min()
    return (data_sum-max_num-min_num)/(data_len-2)
stus.apply(trim_mean,axis=1)

001    92.0
002    92.0
003    86.0
004    89.0
005    91.0
006    89.0
dtype: float64

In [7]:
stus.apply(trim_mean,axis=0)

考试1    85.75
考试2    90.25
考试3    92.25
dtype: float64

applymap方法 和 apply方法
apply传递的是给每列和每行；applymap是运用于**每一个元素**

同样，二者只返回值，不改变原来值

In [8]:
stus.applymap(lambda x:x+5)

     考试1  考试2  考试3
001   90  100   97
002   96   97   99
003   91   86   94
004   84   94  100
005  101   96   96
006   86   94   97

describe：自动忽视非数字列，只计算数字列——得到各列的基本信息
series的describe方法：返回数字类型series的统计信息——个数、平均值、方位差等等

In [9]:
stus.describe()

             考试1        考试2        考试3
count   6.000000   6.000000   6.000000
mean   86.333333  89.500000  92.166667
std     6.314006   4.722288   2.136976
min    79.000000  81.000000  89.000000
25%    82.000000  89.000000  91.250000
50%    85.500000  90.000000  92.000000
75%    89.750000  91.750000  93.500000
max    96.000000  95.000000  95.000000